/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

.container {
	border: 3px solid red;
}

nav{
  flex-wrap: wrap;
  border:2px solid black;
  padding:3rems;
  
}

.main-header{

  margin-top:3%;;
  padding:3em;
  width:40%;
  border:3px solid green;

}


button{
display:block;
border: 3px solid blue;
width:2%;
padding:1em;


}
.top{
display:flex;
justify-content: space-between;
border:3px solid orange;
padding:4em;

  
}

.about-me{

   border:2px solid olive;
   padding:1em;
width:40%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.5em;
}

.skills{
width:40%;
  border:2px solid thistle;
  padding:3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:1rem;

}

ol{
padding:4px;
border:1em solid ;


}
h1{

font-size: 30rems;
}

h2 { 

  font-size: 1rems;
}








.bottom {
  border: 3px solid purple;
  margin-top:1%;
}


#main-footer{
text-align:center;
font-size:1.5em;


}